/* Custom CSS for the Streamlit App */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #34495e;
    text-align: center;
}

.file-upload {
    padding: 20px;
    margin: 20px auto;
    border: 2px dashed #3498db;
    background-color: #fdfdff;
    border-radius: 10px;
    text-align: center;
    color: #555;
    font-size: 1em;
}

.results {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #e3f2fd;
    color: #555;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
